
.commentCrit {
    margin-top: 2%;
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.buttonCrit {
    background: linear-gradient(45deg, #8e3fc4, #4c0080);
    border:1px solid #2d0e42;
    color: ivory;
    margin-left: 2%;   
}

.buttonCrit:hover {
    background: linear-gradient(105deg, #8e3fc4, #4c0080);
    border:1px solid #1f0530;
    color: ivory;
}