.titreProfil {
    color: #2d0e42;
margin-top: 2%;
margin-bottom: 4%;
}

.boxProfil {
    margin: auto;
    margin-top: 3%;
    width: 70%;
    border-radius: 10px;
padding: 2vw;
box-shadow: 5px 3px 10px #4c0080;
}

.spanProf {
    font-weight: bolder;
}