.loginBox {
    width: 20%;
    position: absolute; 
    left: 65%;
    top: 20%; 
    border-radius: 15px;
    box-shadow: 5px 3px 10px #4c0080;
    padding: 1.5rem;
    z-index: 9000;
}

.boutonLogin {
    background: linear-gradient(45deg, #8e3fc4, #4c0080);
    border:1px solid #2d0e42;
    color: ivory;
}
.boutonLogin:hover {
    background: linear-gradient(105deg, #8e3fc4, #4c0080);
    border:1px solid #1f0530;
    color: ivory;
}

.form-control {
    border: 0.1rem solid #4c0080;
}

.form-control:focus {
    border-color: #7b6888;
    box-shadow: inset 0 1px 1px #7b6888, 0 0 8px #4c0080;
  }

  .labelLog {
    font-weight: bolder;
      color: #310e49;
  }