.post-card {
    width: 70vw;
    margin: auto;
    margin-top: 5vh;
    border: 2px solid #4c0080;
    border-radius: 10px;
    padding: 2vw;
    box-shadow: 5px 3px 10px #4c0080;
}

.titreCrit {
    color: #2d0e42;
    margin: auto;   
    text-align: center;
    margin-top: 2%;
    font-size: 1rem; 
    margin-bottom: 2%;
}

.laCrit {
    box-shadow: 5px 3px 7px #2d0e42;
    width: fit-content;
    border-radius: 10px;
    padding: 0.5vw;
    margin: auto; 
    font-size: 0.8rem;
}

.buttonCrit {
    background: linear-gradient(45deg, #8e3fc4, #4c0080);
    border:1px solid #2d0e42;
    color: ivory;
    margin-left: 2%;   
}

.buttonCrit:hover {
    background: linear-gradient(105deg, #8e3fc4, #4c0080);
    border:1px solid #1f0530;
    color: ivory;
}

.critCom {
    font-weight: bold;
    font-size: 0.8rem;
    box-shadow: 5px 3px 5px #4c0080;
    border-radius: 10px;
    width: max-content;
    padding: 0.4rem;
    margin: auto; 
    margin-right: inherit;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}


.titreThread {
    color: #2d0e42;
    font-size: 2rem; 
    margin-top: 2%;
    margin-bottom: 0.5%;
}

.titleCritHome {
    font-weight: bolder;
}