footer {
    padding: 0.5rem;
    color: ivory; 
    height: 2rem; 
    background: linear-gradient(45deg, #4c0080, #8e3fc4);
    width: 100%;
    position: fixed; 
    bottom: 0;
    left: 0;
    font-weight: bolder;
    clear: both;
    margin-top:auto; 
}

.footerBox{
    display: flex;
    justify-content: space-between;
    
}

.texteFoot {
    font-size: 12px;
    margin:auto;
    margin-left: 10%;
    width: max-content;
}

.linkBox {
    font-size: 12px;
    width: 10%;
    display:flex;
}

.linkFoot {
        margin-left: 5%;
        text-decoration: none;
        color: ivory;
    }




